In [20]:
a = 'I want to be a programmer'

In [21]:
b = a + ', really'

In [22]:
print(b)

I want to be a programmer, really

In [23]:
a = 'hello' * 3

In [24]:
print(a)

hellohellohello

In [25]:
a = 'Hello World'

In [26]:
print(a.split())

['Hello', 'World']

In [9]:
import pandas as pd

In [29]:
df=pd.read_csv("../통계적 분석/data/ch1_sport_test.csv",
               index_col='학생번호')

df

      학년    악력  윗몸일으키기  점수  순위
학생번호
1      1  40.2      34  15   4
2      1  34.2      14   7  10
3      1  28.8      27  11   7
4      2  39.0      27  14   5
5      2  50.9      32  17   2
6      2  36.5      20   9   9
7      3  36.6      31  13   6
8      3  49.2      37  18   1
9      3  26.0      28  10   8
10     3  47.4      32  16   3

In [19]:
df['악력']

학생번호
1     40.2
2     34.2
3     28.8
4     39.0
5     50.9
6     36.5
7     36.6
8     49.2
9     26.0
10    47.4
Name: 악력, dtype: float64

In [27]:
df.shape

(10, 5)

In [30]:
import numpy as np
import pandas as pd

df=pd.read_csv("../통계적 분석/data/ch2_scores_em.csv",
               index_col='student number')

df.head()

                english  mathematics
student number
1                    42           65
2                    69           80
3                    56           63
4                    41           63
5                    57           76

In [31]:
scores = np.array(df['english'])[:10]
scores

array([42, 69, 56, 41, 57, 48, 65, 49, 65, 58], dtype=int64)

In [34]:
scores_df = pd.DataFrame({'score':scores},
                        index=pd.Index(['A', 'B', 'C', 'D', 'E',
                                       'F', 'G', 'H', 'I', 'J'],
                                      name = 'student'))

scores_df

         score
student
A           42
B           69
C           56
D           41
E           57
F           48
G           65
H           49
I           65
J           58

In [35]:
sum(scores)/len(scores)

55.0

In [36]:
np.mean(scores)

55.0

In [37]:
scores_df.mean()

score    55.0
dtype: float64

In [38]:
sorted_scores=np.sort(scores)

In [39]:
sorted_scores

array([41, 42, 48, 49, 56, 57, 58, 65, 65, 69], dtype=int64)

In [40]:
n=len(sorted_scores)
if n%2==0:  # 짝수일 경우
    m0=sorted_scores[n//2-1]      # 가운데1
    m1=sorted_scores[n//2]      # 가운데 2
    median=(m0+m1)/2       # 가운데 두 개의 평균
else:    # 홀수일 경우
    median=sorted_scores[(n+1)//2-1]    # 인덱스니까 가운데 값 구해서 -1

median

56.5

In [41]:
np.median(scores)

56.5

In [42]:
scores_df.median()

score    56.5
dtype: float64

In [ ]:
pd